annotated-doc
annotated-types
anyio
certifi
cffi
charset-normalizer
click
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
h11
httpcore
httpx
idna
pyasn1
pycparser
pydantic
pydantic_core
python-jose
python-multipart
requests
rsa
six
SQLAlchemy
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
pytest
passlib[bcrypt]==1.7.4
bcrypt==4.0.1